
<h1>Posez votre question</h1>
<p>Posez votre question et nous vous donnerons une réponse !</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Posez votre question ici" required class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
